# Django/Python
.env
*.pyc
__pycache__/
/djangoenv/
*.log
*.sqlite3
/media/
/staticfiles/

# Large media files
*.mp4
*.avi
*.mov
*.wmv
*.flv

# IDEs and editors
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db